* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*상단 내비게이션 바 시작*/
nav {
    /*스타일*/
    padding: 25px;
    background-color: #FF47CB;
    color: white;
    font-family: 'Cherry Bomb';
    font-size: 22px;
    /*배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav logo img {
    max-width: 60%;
    height: auto;
    margin-left: 75px;
}

.top-nav {
    color: white;
    text-decoration-line: none;
}

nav menu ul {
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav menu ul li {
    margin: 0 40px 0 40px;
}

.login-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #FF47CB;
    color: white;
    font-family: 'Cherry Bomb';
    font-size: 18px;
    text-decoration: none; /*밑줄없앰*/
}

.logout-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #FF47CB;
    color: white;
    font-family: 'Cherry Bomb';
    font-size: 18px;
    text-decoration: none; /*밑줄없앰*/
}

/* section-2 */
.section-2 {
    position: relative;
    width: 100%;
}

.container-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.title-1 {
    font-family: 'Cherry Bomb';
    font-size: 6.5em;
    letter-spacing: 10px;
}

.subtitle-1 {
    margin-top: 40px;
    font-size: 1.5em;
    font-family: 'NanumSquareNeo';
}

.paragraph-1 {
    margin-top: 25px;
    font-family: 'NanumSquareNeo';
    line-height: 28px;
}