* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*main 시작*/
main{
    padding: 80px;
}

/*title*/
.title {
    text-align: center;
    margin: 80px;
    
}
h1 {
    font-family: 'Cherry Bomb';
}
.filter{
    display: flex;
}

/* 지도 이미지 */
#hokkaido-img{
    margin: 50px 328px 0 1230px;
}
#honshu-img{
    margin: 51.51px 490px 0 635px;
}
#shikoku-img{
    margin: -120px 1018px 0 698px;
}
#kyushu-img{
    margin: -120px 1256.5px 120px 440px;
}

/* 해시태그 */
.hashtag-container{
    width: 1600px; 
    margin: 40px auto 0 auto; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.hashtag {
    /* 스타일 */
    display: inline-block;
    padding: 5px 10px;
    color: #fff; 
    background-color: #FF47CB;
    border-color: #FF47CB;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 16px;
}


/* 회색실선 */
.grey-line {
    border-top: 2px dashed #808080;
    width: 1600px;
    margin: 0 auto;

}

/* 오프라인샵 */
.offlineShop{
    font-size: 28px; 
    width: 1600px; 
    margin: 20px auto 24px auto; 
    display: flex; 
}
.shopCount{
    color:#FF47CB; margin-left: 8px;
}

/* 결과  스타일*/
.heart{
    background-color: #fff; 
    border-radius: 100%; 
    width: 40px; height: 40px; 
    position: absolute; 
    margin: 30px 36px 458px 444px; 
    text-align: center; 
    align-items: center; 
    display: flex; 
    justify-content: center;
}

.albumContainer{
    width: 1600px; 
    display: flex; 
    justify-content: center; 
    display: flex; 
    gap: 20px; 
    margin: 0 auto;
}
.card{
    width: 520px; 
    height: 528px; 
    background-color: #fff !important; 
    border-radius: 24px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: noen;
}
.cardImg{
    width:488px; height:320px; 
    background-color: aliceblue; 
    border-radius: 16px; 
    margin: 14px auto;
}
.cardHashtag{
    display: inline-block; 
    border-radius: 8px;
     background-color: aliceblue; 
    font-size: 16px; max-width: max-content; 
    padding: 4px 8px; margin: 8px 6px 0 0px;
}

.cardHashtag_container{
    width:488px; margin-left: 28px; 
}
.cardTitle{
    font-size: 32px; margin: 14px 0 0 28px;
}
.price{
    display: flex; margin-left: 28px; align-items: center; margin-top: 30px;
}
.price>p{
    font-size: 20px; margin: -4px 0 0 4px;

}
.cardHashtag_container>.cardHashtag{
    color: #4a4a4a;
}

/* 페이지 네비게이션 스타일 */
.Page-navigation {
    width: 100%;
    justify-content: center;
    position: sticky;
}
/* 페이지네이션 목록 스타일 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    list-style: none; /* 목록 스타일 없음 */
}
/* 페이지 항목 스타일 */
.page-item {
    display: inline; /* 항목들을 가로로 나열 */
}
/* 페이지 링크 스타일 */
.page-link {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FF47CB;
    background-color: #fff; /* 배경 색상 */
    border: 1px solid #dee2e6; /* 테두리 */
}
/* 비활성화된 페이지 항목 스타일 */
.page-item.disabled .page-link {
    color: #6c757d; /* 글씨 색상 */
    pointer-events: none; /* 마우스 이벤트 없음 */
    background-color: #fff; /* 배경 색상 */
    border-color: #dee2e6; /* 테두리 색상 */
}



/*footer 시작*/
footer {
    padding: 30px 150px 30px 150px;
    border: solid 1px #c6c6c6;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'Cherry Bomb';
    color: #c6c6c6;
    font-size: 30px;
    width: 1590px;
    margin: 50px auto 0 auto;
}

.contributor {
    display: flex;
    justify-content: space-between;
}

.jiwoo ul,
.khyunji ul,
.heeyoung ul,
.goeun ul,
.hyobeen ul,
.nhyunji ul {
    list-style: none;
}

.jiwoo li:nth-child(1),
.khyunji li:nth-child(1),
.heeyoung li:nth-child(1),
.goeun li:nth-child(1),
.hyobeen li:nth-child(1),
.nhyunji li:nth-child(1) {
    color: #7c7c7c;
    font-weight: bold;
}

.jiwoo li,
.khyunji li,
.heeyoung li,
.goeun li,
.hyobeen li,
.nhyunji li {
    color: #c6c6c6;
    margin-top: 5px;
    
}

.contributor a {
    text-decoration: none; 
    color: #c6c6c6;
}




/* 종이 말리는 효과 */
.corner-paper-curl {
    display: block;
    position: absolute;
    bottom: -13px;
    right: -8px;
    width: 80px;
    height: 80px;
    background: url(/assets/corner.png) no-repeat 50% 50% / contain;
    transform: scale(0, 0);
    transform-origin: 100% 100%;
    animation: ani_papercurl .5s ease-out 1s 1 normal forwards;
}

.card:hover .corner-paper-curl {
    animation: ani_papercurl_hover .4s ease-out 1 forwards;
}

@keyframes ani_papercurl_hover {
    to {
        transform: scale(1, 1);
    }
}

