* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*상단 내비게이션 바 시작*/
nav {
    /*스타일*/
    padding: 25px;
    color: #FF47CB;
    font-family: 'Cherry Bomb';
    font-size: 22px;
    background-color: white;
    /*배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*고정*/
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;

    list-style-type: none; /*앞에 점 없앰*/
}

nav logo img {
    max-width: 60%;
    height: auto;
    margin-left: 75px;
}

.top-nav {
    text-decoration: none;
    color: #FF47CB;
}

nav menu ul {
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav menu ul li {
    margin: 0 40px 0 40px;
}

.login-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #F8EFF5;
    color: #FF47CB;
    font-family: 'Cherry Bomb';
    font-size: 18px;
    text-decoration: none; /*밑줄없앰*/
    /* cursor: pointer; */
}

/*main 시작*/
main{
    padding: 80px;
}

/*title*/
.title {
    text-align: center;
    margin: 80px;
}

.filter{
    display: flex;
}
/* 지도 이미지 */
.map-img{
    text-align: center; /* 지도 이미지 중앙 정렬 */
}

/* 해시태그 */

/* 결과 */
#result{
    text-align: center;
}

/* 결과 페이지 탐색 */
.Page-navigation{
    text-align: center;
}
.pagination{
    justify-content: center;    /*가로 1자로 정렬*/
}



/*footer*/
footer {
    padding: 30px 80px 30px 80px;
    border: solid 1px #c6c6c6;
}

.developer,
.designer {
    margin: 20px 0 20px 0;
}

.developer ul,
.developer p, 
.designer p:nth-child(1) {
    list-style: none;
    color: #7c7c7c;
}

.developer ul li,
.designer p:nth-child(2){
    margin: 5px 0 0 0;
    color: #c6c6c6;
}