* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

     /* 산돌 */
     font-family: Sandoll GothicNeoRound;
     font-weight: 400;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*상단 내비게이션 바 시작*/
nav {
    /*스타일*/
    padding: 25px;
    color: #FF47CB;
    font-family: 'Cherry Bomb';
    font-size: 22px;
    background-color: white;
    /*배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*고정*/
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;

    list-style-type: none; /*앞에 점 없앰*/
}

nav logo img {
    max-width: 60%;
    height: auto;
    margin-left: 75px;
}

.top-nav {
    text-decoration: none;
    color: #FF47CB;
}

nav menu ul {
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav menu ul li {
    margin: 0 40px 0 40px;
}

.login-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #F8EFF5;
    color: #FF47CB;
    font-family: 'Cherry Bomb';
    font-size: 18px;
    text-decoration: none; /*밑줄없앰*/
    /* cursor: pointer; */
}

/*main 시작*/
main{
    padding: 80px;
}

/*title*/
.title {
    text-align: center;
    margin: 80px;

   
}
.filter{
    display: flex;
}

/* 지도 이미지 */
.map-img{
    text-align: center; /* 지도 이미지 중앙 정렬 */
    margin-bottom: 20px;
}


/* 해시태그 */
.hashtag-container{
    /* 위치 정렬 */
    position: absolute;
    top: 1600px;
    left: 150px;
    margin-top: 70px;
}
.hashtag {
    /* 스타일 */
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.hashtag.active {
    /* 클릭시 스타일 */
    color: #fff; 
    background-color: #FF47CB;
    border-color: #FF47CB;
}

/* 회색실선 */
.grey-line {
    border-top: 2px dashed #808080;
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
}

/* 게시믈 css */
 .post {
    /* 커밋이 되긴 했나요? */
 }



/*footer 시작*/
footer {
    padding: 30px 150px 30px 150px;
    border: solid 1px #c6c6c6;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'Cherry Bomb';
    color: #c6c6c6;
    font-size: 30px;
    margin-top: 50px;
}

.contributor {
    display: flex;
    justify-content: space-between;
}

.jiwoo ul,
.khyunji ul,
.heeyoung ul,
.nhyunji ul {
    list-style: none;
}

.jiwoo li:nth-child(1),
.khyunji li:nth-child(1),
.heeyoung li:nth-child(1),
.nhyunji li:nth-child(1) {
    color: #7c7c7c;
    font-weight: bold;
}

.jiwoo li,
.khyunji li,
.heeyoung li,
.nhyunji li {
    color: #c6c6c6;
    margin-top: 5px;
}

.contributor a {
    text-decoration: none; 
    color: #c6c6c6;
}