:root {
    --chery-color: #FF47CB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*상단 내비게이션 바 시작*/
nav {
    /*스타일*/
    padding: 25px;
    color: var(--chery-color);
    font-family: 'Cherry Bomb';
    font-size: 22px;
    background-color: white;
    /*배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*고정*/
    position: fixed; 
    width: 100%;
    top: 0; 
    left: 0;
    z-index: 1000;
}

nav logo img {
    max-width: 60%;
    height: auto;
    margin-left: 75px;
} 

.top-nav {
    text-decoration: none;
    color: var(--chery-color);
}

nav menu ul {
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav menu ul li {
    margin: 0 40px 0 40px;
}

.nav-element{
    opacity: 0.5;
}

.login-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #F8EFF5;
    color: var(--chery-color);
    font-family: 'Cherry Bomb';
    font-size: 18px;
    text-decoration: none; /*밑줄없앰*/
}

/*main 시작*/
main{
    padding: 80px;
    padding-top: 100px;
}

/*title*/
.title {
    text-align: center;
    margin: 80px;
}
.filters-buttons{
    margin-bottom: 10px;
}
.filters{
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 3px gray;
    
}

.filters button {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
}
.filters button:hover {
    color: white;
    background-color: black;
    transition: background-color 1s;
}
.result-count {
    color: var(--chery-color);
    font-weight: bold;
}
.brandshop-box{
    margin-bottom: 10px;
}

.offline-shop {
    margin-bottom: 10px;
    font-weight: bold;
}

.offline-shop > span {
    color: var(--chery-color);
}

.brand-shop {
    margin-bottom: 10px;
    font-weight: bold;
    border-top: dashed 3px gray;
    margin-top: 30px;
    padding-top: 10px;
}

.brand-shop > span {
    color: var(--chery-color);
}



/* 게시글 구현 css */
.storeImg{
    width: 100%;
    height: auto; /* 가로세로 비율 유지 */
}

/* 가로로 한 줄에 세 개씩 */
.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

  
.post h2 {
    margin-top: 0;
}


.post .like-btn {
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    position: absolute;
    top: 6%;
    right: 6%;
}
  
.hashtags {
    margin: 10px 0;
}
  
.hashtags span {
    background-color: #f0f0f0;
    color: #888;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 0.9em;
}

.bookmark{
    position: absolute;
    right: 0;
    bottom: 0;
}
  
.post p {
    color: #333;
 }

 /* 게시글 별점 */
.post {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.hashtags {
    margin-bottom: 10px;
}

  
.rating {
    font-size: 24px;
}
  
.star {
    color: #ccc;
    cursor: pointer;
}
  
.star.active, .star:hover {
    color: #FF47CB;
}

.rating-star{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #888;
    margin-top: 10px;
}

/* 가격 */
.yenImg{
    width: 18px;
    height: auto; /* 가로세로 비율 유지 */
}
.price {
    font-size: 15px;
    color: #888;
    margin-top: 10px;
}
  
.market-button{
    display: flex;
    justify-content: right;
    /* align-items: right; */
    /* width: 70px; */
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.market-button img{
    width: 90px;
}



/*footer 시작*/
footer {
    padding: 30px 150px 30px 150px;
    border: solid 1px #c6c6c6;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'Cherry Bomb';
    color: #c6c6c6;
    font-size: 30px;
    margin-top: 50px;
}

.contributor {
    display: flex;
    justify-content: space-between;
}

.jiwoo ul,
.khyunji ul,
.heeyoung ul,
.nhyunji ul {
    list-style: none;
}

.jiwoo li:nth-child(1),
.khyunji li:nth-child(1),
.heeyoung li:nth-child(1),
.nhyunji li:nth-child(1) {
    color: #7c7c7c;
    font-weight: bold;
}

.jiwoo li,
.khyunji li,
.heeyoung li,
.nhyunji li {
    color: #c6c6c6;
    margin-top: 5px;
}

.contributor a {
    text-decoration: none; 
    color: #c6c6c6;
}

