/* Variables CSS (변수처럼 미리 값 줘놓고 가져다가 쓰기)*/
:root {
    /* color */
    --fr-color: #FF47CB;
    --se-color: #c6c6c6;
    --th-color: #7c7c7c;
    --fo-color: #F8EFF5;;

    /* font */
    --body-font: 'Cherry Bomb';     /*구글폰트 사용*/
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-thin: 200;
    --font-regular: 400;
    --font-bold: 700;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*상단 내비게이션 바 시작*/
nav {
    /*스타일*/
    padding: 25px;
    color: var(--fr-color);
    font-family: 'Cherry Bomb';
    font-size: 22px;
    background-color: white;
    /*배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*고정*/
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;
}

nav logo img {
    max-width: 60%;
    height: auto;
    margin-left: 75px;
}

.top-nav {
    text-decoration: none;
    color: var(--fr-color);
}

nav menu ul {
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav menu ul li {
    margin: 0 40px 0 40px;
}

.login-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: var(--fo-color);
    color: var(--fr-color);
    font-family: 'Cherry Bomb';
    font-size: 18px;
    cursor: pointer;
}

/*main 시작*/
main{
    padding: 80px;
}

.title h1 {
    text-align: center;
    padding: 80px;
}

.signup-form {
    margin: 0 300px 0 300px;
    border-top: 2px dashed var(--fh-color)
}

.signup-form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--se-color);
}

.input-name,
.input-id,
.input-email,
.input-checkpassword {
    border-bottom: 2px dashed var(--se-color);
    padding: 30px 0 30px 0;
}

.button-container {
    margin: 50px;
    text-align: center;
}

.button-container button {
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
}