* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Scroll Bar 기능은 살리되, 없애기*/
body{
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

/*상단 내비게이션 바 시작*/
nav {
    /*스타일*/
    padding: 25px;
    color: #FF47CB;
    font-family: 'Cherry Bomb';
    font-size: 22px;
    background-color: white;
    /*배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*고정*/
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;
}

nav logo img {
    max-width: 60%;
    height: auto;
    margin-left: 75px;
}

.top-nav {
    text-decoration: none;
    color: #FF47CB;
}

nav menu ul {
    list-style: none;
    display: flex;
    font-size: 25px;
}

nav menu ul li {
    margin: 0 40px 0 40px;
}

.login-Btn {
    padding: 10px 20px 10px 20px;
    margin-right: 75px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #F8EFF5;
    color: #FF47CB;
    font-family: 'Cherry Bomb';
    font-size: 18px;
}

/*main 시작*/
main{
    padding: 80px;
}

.title {
    text-align: center;
    padding: 80px;
}

.title p {
    margin-top: 20px;
}

.signup-form {
    margin: 0 300px 0 300px;
    border-top: 2px dashed #7c7c7c;
}

.signup-form input,
.signup-form select,
.signup-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
}

.input-name,
.input-id,
.input-guide,
.input-time,
.input-location,
.input-tag,
.input-price {
    border-bottom: 2px dashed #c6c6c6;
    padding: 30px 0 30px 0;
}

.button-container {
    margin: 50px;
    text-align: center;
}

.button-container button {
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
}